* {
    margin: 0;
    padding: 0;
}

body {
    background: grey;
    overflow: hidden;
}

#rabbit {
    width: 284px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-animation-name: jump;
            animation-name: jump;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
}

#body1 {
    width: 232px;
    height: 120px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 27px;
}

#body2 {
    width: 113px;
    height: 155px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 33px;
}

#body3 {
    width: 113px;
    height: 155px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 33px;
    left: 171px;
}

#body4 {
    width: 204px;
    height: 127px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 72px;
    left: 5px;
}

#body5 {
    width: 204px;
    height: 127px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 72px;
    left: 75px;
}

#body6 {
    width: 69px;
    height: 7px;
    background-color: white;
    position: absolute;
    top: 192px;
    left: 109px;
}

#left_eye {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 89px;
    left: 110px;
}

#right_eye {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 89px;
    left: 165px;
}

#nose {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 104px;
    left: 139px;
}

#mouse1 {
    width: 1px;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 107px;
    left: 140px;
}

#mouse2 {
    width: 8px;
    height: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
    position: absolute;
    top: 111px;
    left: 133px;
}

#mouse2:after {
    content: "";
    width: 6px;
    height: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    position: absolute;
    left: 1px;
}

#mouse3 {
    width: 8px;
    height: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
    position: absolute;
    top: 111px;
    left: 140px;
}

#mouse3:after {
    content: "";
    width: 6px;
    height: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    position: absolute;
    left: 1px;
}

#left_ear1 {
    width: 24px;
    height: 113px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 36px;
}

#left_ear2 {
    width: 28px;
    height: 131px;
    border-radius: 100%;
    background-color: white;
    -webkit-transform: rotate(-48.05deg);
        -ms-transform: rotate(-48.05deg);
            transform: rotate(-48.05deg);
    position: absolute;
    top: -30px;
    left: 80px;
}

#left_ear_in {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 30px solid #ffcccc;
    position: absolute;
    left: 45px;
    -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
            transform: rotate(-18deg);
}

#right_ear1 {
    width: 24px;
    height: 113px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -9px;
    left: 224px;
}

#right_ear2 {
    width: 28px;
    height: 131px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -30px;
    left: 176px;
    -webkit-transform: rotate(48.05deg);
        -ms-transform: rotate(48.05deg);
            transform: rotate(48.05deg);
}

#right_ear_in {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 30px solid #ffcccc;
    position: absolute;
    left: 215px;
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
}

#left_cheek {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffcccc;
    position: absolute;
    top: 97px;
    left: 65px;
    -webkit-box-shadow: 0 0 20px 10px #ffcccc;
            box-shadow: 0 0 20px 10px #ffcccc;
}

#right_cheek {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #ffcccc;
    position: absolute;
    top: 97px;
    left: 196px;
    -webkit-box-shadow: 0 0 20px 10px #ffcccc;
            box-shadow: 0 0 20px 10px #ffcccc;
}

#shadow {
    width: 115px;
    height: 15px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 35px);
        -ms-transform: translate(-50%, 35px);
            transform: translate(-50%, 35px);
    -webkit-animation-name: shadow;
            animation-name: shadow;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-filter: blur(8px);
            filter: blur(8px);
    z-index: -1;
}

@-webkit-keyframes jump {
    0% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    10% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    12% {-webkit-transform: scale(0.5) translateY(-9.7%);transform: scale(0.5) translateY(-9.7%);}
    14% {-webkit-transform: scale(0.5) translateY(-19%);transform: scale(0.5) translateY(-19%);}
    16% {-webkit-transform: scale(0.5) translateY(-27.7%);transform: scale(0.5) translateY(-27.7%);}
    18% {-webkit-transform: scale(0.5) translateY(-36%);transform: scale(0.5) translateY(-36%);}
    20% {-webkit-transform: scale(0.5) translateY(-43.7%);transform: scale(0.5) translateY(-43.7%);}
    22% {-webkit-transform: scale(0.5) translateY(-51%);transform: scale(0.5) translateY(-51%);}
    24% {-webkit-transform: scale(0.5) translateY(-57.7%);transform: scale(0.5) translateY(-57.7%);}
    26% {-webkit-transform: scale(0.5) translateY(-60.5%);transform: scale(0.5) translateY(-60.5%);}
    28% {-webkit-transform: scale(0.5) translateY(-69.7%);transform: scale(0.5) translateY(-69.7%);}
    30% {-webkit-transform: scale(0.5) translateY(-75%);transform: scale(0.5) translateY(-75%);}
    32% {-webkit-transform: scale(0.5) translateY(-79.7%);transform: scale(0.5) translateY(-79.7%);}
    34% {-webkit-transform: scale(0.5) translateY(-84%);transform: scale(0.5) translateY(-84%);}
    36% {-webkit-transform: scale(0.5) translateY(-87.7%);transform: scale(0.5) translateY(-87.7%);}
    38% {-webkit-transform: scale(0.5) translateY(-90.1%);transform: scale(0.5) translateY(-90.1%);}
    40% {-webkit-transform: scale(0.5) translateY(-93.7%);transform: scale(0.5) translateY(-93.7%);}
    42% {-webkit-transform: scale(0.5) translateY(-96%);transform: scale(0.5) translateY(-96%);}
    44% {-webkit-transform: scale(0.5) translateY(-97.7%);transform: scale(0.5) translateY(-97.7%);}
    46% {-webkit-transform: scale(0.5) translateY(-99%);transform: scale(0.5) translateY(-99%);}
    48% {-webkit-transform: scale(0.5) translateY(-99.7%);transform: scale(0.5) translateY(-99.7%);}
    50% {-webkit-transform: scale(0.5) translateY(-100%);transform: scale(0.5) translateY(-100%);}
    52% {-webkit-transform: scale(0.5) translateY(-99.7%);transform: scale(0.5) translateY(-99.7%);}
    54% {-webkit-transform: scale(0.5) translateY(-99%);transform: scale(0.5) translateY(-99%);}
    56% {-webkit-transform: scale(0.5) translateY(-97.7%);transform: scale(0.5) translateY(-97.7%);}
    58% {-webkit-transform: scale(0.5) translateY(-96%);transform: scale(0.5) translateY(-96%);}
    60% {-webkit-transform: scale(0.5) translateY(-93.7%);transform: scale(0.5) translateY(-93.7%);}
    62% {-webkit-transform: scale(0.5) translateY(-90.1%);transform: scale(0.5) translateY(-90.1%);}
    64% {-webkit-transform: scale(0.5) translateY(-87.7%);transform: scale(0.5) translateY(-87.7%);}
    66% {-webkit-transform: scale(0.5) translateY(-84%);transform: scale(0.5) translateY(-84%);}
    68% {-webkit-transform: scale(0.5) translateY(-79.7%);transform: scale(0.5) translateY(-79.7%);}
    70% {-webkit-transform: scale(0.5) translateY(-75%);transform: scale(0.5) translateY(-75%);}
    72% {-webkit-transform: scale(0.5) translateY(-69.7%);transform: scale(0.5) translateY(-69.7%);}
    74% {-webkit-transform: scale(0.5) translateY(-60.5%);transform: scale(0.5) translateY(-60.5%);}
    76% {-webkit-transform: scale(0.5) translateY(-57.7%);transform: scale(0.5) translateY(-57.7%);}
    78% {-webkit-transform: scale(0.5) translateY(-51%);transform: scale(0.5) translateY(-51%);}
    80% {-webkit-transform: scale(0.5) translateY(-43.7%);transform: scale(0.5) translateY(-43.7%);}
    82% {-webkit-transform: scale(0.5) translateY(-36%);transform: scale(0.5) translateY(-36%);}
    84% {-webkit-transform: scale(0.5) translateY(-27.7%);transform: scale(0.5) translateY(-27.7%);}
    86% {-webkit-transform: scale(0.5) translateY(-19%);transform: scale(0.5) translateY(-19%);}
    88% {-webkit-transform: scale(0.5) translateY(-9.7%);transform: scale(0.5) translateY(-9.7%);}
    90% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    100% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
}

@keyframes jump {
    0% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    10% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    12% {-webkit-transform: scale(0.5) translateY(-9.7%);transform: scale(0.5) translateY(-9.7%);}
    14% {-webkit-transform: scale(0.5) translateY(-19%);transform: scale(0.5) translateY(-19%);}
    16% {-webkit-transform: scale(0.5) translateY(-27.7%);transform: scale(0.5) translateY(-27.7%);}
    18% {-webkit-transform: scale(0.5) translateY(-36%);transform: scale(0.5) translateY(-36%);}
    20% {-webkit-transform: scale(0.5) translateY(-43.7%);transform: scale(0.5) translateY(-43.7%);}
    22% {-webkit-transform: scale(0.5) translateY(-51%);transform: scale(0.5) translateY(-51%);}
    24% {-webkit-transform: scale(0.5) translateY(-57.7%);transform: scale(0.5) translateY(-57.7%);}
    26% {-webkit-transform: scale(0.5) translateY(-60.5%);transform: scale(0.5) translateY(-60.5%);}
    28% {-webkit-transform: scale(0.5) translateY(-69.7%);transform: scale(0.5) translateY(-69.7%);}
    30% {-webkit-transform: scale(0.5) translateY(-75%);transform: scale(0.5) translateY(-75%);}
    32% {-webkit-transform: scale(0.5) translateY(-79.7%);transform: scale(0.5) translateY(-79.7%);}
    34% {-webkit-transform: scale(0.5) translateY(-84%);transform: scale(0.5) translateY(-84%);}
    36% {-webkit-transform: scale(0.5) translateY(-87.7%);transform: scale(0.5) translateY(-87.7%);}
    38% {-webkit-transform: scale(0.5) translateY(-90.1%);transform: scale(0.5) translateY(-90.1%);}
    40% {-webkit-transform: scale(0.5) translateY(-93.7%);transform: scale(0.5) translateY(-93.7%);}
    42% {-webkit-transform: scale(0.5) translateY(-96%);transform: scale(0.5) translateY(-96%);}
    44% {-webkit-transform: scale(0.5) translateY(-97.7%);transform: scale(0.5) translateY(-97.7%);}
    46% {-webkit-transform: scale(0.5) translateY(-99%);transform: scale(0.5) translateY(-99%);}
    48% {-webkit-transform: scale(0.5) translateY(-99.7%);transform: scale(0.5) translateY(-99.7%);}
    50% {-webkit-transform: scale(0.5) translateY(-100%);transform: scale(0.5) translateY(-100%);}
    52% {-webkit-transform: scale(0.5) translateY(-99.7%);transform: scale(0.5) translateY(-99.7%);}
    54% {-webkit-transform: scale(0.5) translateY(-99%);transform: scale(0.5) translateY(-99%);}
    56% {-webkit-transform: scale(0.5) translateY(-97.7%);transform: scale(0.5) translateY(-97.7%);}
    58% {-webkit-transform: scale(0.5) translateY(-96%);transform: scale(0.5) translateY(-96%);}
    60% {-webkit-transform: scale(0.5) translateY(-93.7%);transform: scale(0.5) translateY(-93.7%);}
    62% {-webkit-transform: scale(0.5) translateY(-90.1%);transform: scale(0.5) translateY(-90.1%);}
    64% {-webkit-transform: scale(0.5) translateY(-87.7%);transform: scale(0.5) translateY(-87.7%);}
    66% {-webkit-transform: scale(0.5) translateY(-84%);transform: scale(0.5) translateY(-84%);}
    68% {-webkit-transform: scale(0.5) translateY(-79.7%);transform: scale(0.5) translateY(-79.7%);}
    70% {-webkit-transform: scale(0.5) translateY(-75%);transform: scale(0.5) translateY(-75%);}
    72% {-webkit-transform: scale(0.5) translateY(-69.7%);transform: scale(0.5) translateY(-69.7%);}
    74% {-webkit-transform: scale(0.5) translateY(-60.5%);transform: scale(0.5) translateY(-60.5%);}
    76% {-webkit-transform: scale(0.5) translateY(-57.7%);transform: scale(0.5) translateY(-57.7%);}
    78% {-webkit-transform: scale(0.5) translateY(-51%);transform: scale(0.5) translateY(-51%);}
    80% {-webkit-transform: scale(0.5) translateY(-43.7%);transform: scale(0.5) translateY(-43.7%);}
    82% {-webkit-transform: scale(0.5) translateY(-36%);transform: scale(0.5) translateY(-36%);}
    84% {-webkit-transform: scale(0.5) translateY(-27.7%);transform: scale(0.5) translateY(-27.7%);}
    86% {-webkit-transform: scale(0.5) translateY(-19%);transform: scale(0.5) translateY(-19%);}
    88% {-webkit-transform: scale(0.5) translateY(-9.7%);transform: scale(0.5) translateY(-9.7%);}
    90% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
    100% {-webkit-transform: scale(0.5, 0.4) translateY(10%);transform: scale(0.5, 0.4) translateY(10%);}
}

@-webkit-keyframes shadow {
    0% {width: 115px;}
    10% {width: 115px;}
    50% {width: 95px;}
    77% {width: 95px;}
    100% {width: 115px;}
}

@keyframes shadow {
    0% {width: 115px;}
    10% {width: 115px;}
    50% {width: 95px;}
    77% {width: 95px;}
    100% {width: 115px;}
}