* {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rabbit {
    width: 142px;
    height: 100px;
    position: relative;
    z-index: 1;
}

#body1 {
    width: 116px;
    height: 60px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    left: 13.5px;
}

#body2 {
    width: 56.5px;
    height: 77.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 16.5px;
}

#body3 {
    width: 56.5px;
    height: 77.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 16.5px;
    left: 85.5px;
}

#body4 {
    width: 102px;
    height: 63.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 36px;
    left: 2.5px;
}

#body5 {
    width: 102px;
    height: 63.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 36px;
    left: 37.5px;
}

#body6 {
    width: 34.5px;
    height: 3.5px;
    background-color: white;
    position: absolute;
    top: 96px;
    left: 54.5px;
}

#left_eye {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 44.5px;
    left: 55px;
}

#right_eye {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 44.5px;
    left: 82.5px;
}

#nose {
    width: 1.5px;
    height: 1.5px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 52px;
    left: 69.5px;
}

#mouse1 {
    width: 0.5px;
    height: 2.5px;
    background-color: black;
    position: absolute;
    top: 53.5px;
    left: 70px;
}

#mouse2 {
    width: 4px;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: black;
    position: absolute;
    top: 55.5px;
    left: 66.5px;
}

#mouse2:after {
    content: "";
    width: 3px;
    height: 1.5px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    background-color: white;
    position: absolute;
    top: -0.2px;
    left: 0.5px;
}

#mouse3 {
    width: 4px;
    height: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: black;
    position: absolute;
    top: 55.5px;
    left: 70px;
}

#mouse3:after {
    content: "";
    width: 3px;
    height: 1.5px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
    background-color: white;
    position: absolute;
    top: -0.2px;
    left: 0.5px;
}

#left_ear1 {
    width: 12px;
    height: 56.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -4.5px;
    left: 18px;
}

#left_ear2 {
    width: 14px;
    height: 65.5px;
    border-radius: 100%;
    background-color: white;
    -webkit-transform: rotate(-48.05deg);
        -ms-transform: rotate(-48.05deg);
            transform: rotate(-48.05deg);
    position: absolute;
    top: -15px;
    left: 40px;
}

#left_ear_in {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 15px solid #ffcccc;
    position: absolute;
    left: 22.5px;
    -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
            transform: rotate(-18deg);
}

#right_ear1 {
    width: 12px;
    height: 56.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -4.5px;
    left: 112px;
}

#right_ear2 {
    width: 14px;
    height: 65.5px;
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: -15px;
    left: 88px;
    -webkit-transform: rotate(48.05deg);
        -ms-transform: rotate(48.05deg);
            transform: rotate(48.05deg);
}

#right_ear_in {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 15px solid #ffcccc;
    position: absolute;
    left: 107.5px;
    -webkit-transform: rotate(18deg);
        -ms-transform: rotate(18deg);
            transform: rotate(18deg);
}

#left_cheek {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffcccc;
    position: absolute;
    top: 48.5px;
    left: 32.5px;
    -webkit-box-shadow: 0 0 10px 5px #ffcccc;
            box-shadow: 0 0 10px 5px #ffcccc;
}

#right_cheek {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffcccc;
    position: absolute;
    top: 48.5px;
    left: 98px;
    -webkit-box-shadow: 0 0 10px 5px #ffcccc;
            box-shadow: 0 0 10px 5px #ffcccc;
}

#shadow {
    width: 115px;
    height: 15px;
    border-radius: 100%;
    background-color: black;
    -webkit-filter: blur(8px);
            filter: blur(8px);
}